{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="hero-unit" style="margin-top:100px">
    <div class="hero-content">
        <h1>twiFace</h1>
        <h2>{% trans "Put your Twitter followers on your background" %}</h2>
        <br /><br />
        <a href="{% url socialauth_begin 'twitter' %}" class="btn btn-primary btn-large" >{% trans "Login using Twitter" %}</a>
        <br /><br />
        <a>{% trans "Copyright &copy; 2012 Sayan Chowdhury" %}</a>
    </div>
</div>
{% block extra_content %}
{% endblock %}
{% endblock %}
